
.p-left {
    text-align: left;    
}

.p-center {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-right {
    text-align: right;
}

.ng-container {
    margin-left: 40px;
    margin-right: 40px;
}

mat-form-field {
    width: 350px;
}

mat-icon {

    margin-right: 40px;
    margin-right: 40px;
    background-color: #fff;
}

mat-icon:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(133, 65, 201);
}

.inputSearch {
    width: 2500px;
}
