
<h1 mat-dialog-title>
    {{data.id > 0 ? 'Actualizar' : 'Crear'}} Categoría
</h1>

<div mat-dialog-content>
    <form [formGroup]="formCategory"> 
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input 
                autocomplete="off"
                formControlName="name"
                matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input 
                autocomplete="off"
                formControlName="description"
                matInput>
        </mat-form-field>
        <div mat-dialog-actions class="buttons">
            <button 
                (click)="cancelar()"
                mat-stroked-button
                color="primary"
            >
                <mat-icon>cancel</mat-icon>
                <span>Cancelar</span>
            </button>
            <button 
                (click)="guardar()"
                mat-raised-button 
                [disabled]="formCategory.invalid"
                color="primary"
            >
                <mat-icon>save_as</mat-icon>
                <span>{{data.id > 0 ? 'Actualizar' : 'Guardar'}}</span>
            </button>
        </div>
    </form>
</div>

