<h1 mat-dialog-title>
    Eliminar Categoría ?
</h1>
<div mat-dialog-content>
    <span>Esta seguro de eliminar categoría?</span>
</div>
<div mat-dialog-actions class="buttons">
    <button
        (click)="cancel()"
        mat-stroked-button
        color="primary"
    >
        <mat-icon>cancel</mat-icon>
        <span>Cancelar</span>
    </button>
    <button
        (click)="eliminar()"
        mat-raised-button
        color="primary"
    >
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
    </button>
</div>