<mat-sidenav-container fullscreen>
    <mat-sidenav opened #sidenav mode="side">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <div>
            <mat-list>
                <mat-list-item routerLink="dashboard">
                    <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
                    Dasboard
                </mat-list-item>
                <mat-list-item routerLink="category">
                    <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
                    Categoria
                </mat-list-item>
                <mat-list-item routerLink="product">
                    <mat-icon aria-hidden="false" fontIcon="inventory_2"></mat-icon>
                    Producto
                </mat-list-item>
            </mat-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>S-Inventory</span>
            <span class="spacer"></span>
            <span>{{ username | titlecase }}</span>
            <button mat-icon-button>
                <mat-icon>person</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>logout</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Salir</span>
                </button>

            </mat-menu>


        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>